@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&family=Noto+Sans+JP&family=Noto+Serif+Lao:wght@100&family=Roboto:ital,wght@1,500&display=swap');
* {font-family: 'Cormorant Garamond', serif;}
a{
    text-decoration: none;
    color: white;
}
a:hover{ color: white;}
header{
    height:80vh;
    width: 100%;
    background: url("../image/markus-spiske-71uUjIt3cIs-unsplash.jpg") center center / cover no-repeat;
}
h1{text-align: center;
    font-weight:bolder;
    margin: 0%;
}
.hader_info{
    height:7%;
    width: 90%;
    margin-left:5%;
    margin-right: 5%;
    border-bottom: 1px solid grey;
}
.gr{color:#91B40D;}
.phone_cor{
    height: 100%;
    width:20%;
    float: left;
}
.phone_num{
    color: white;
    display:inline-block;
    margin-left: 5%;
}
.sosial_cor{float: right;}
.nav_bar{
    width: 95%;
    height:14%;
    margin-left: 5%;
    z-index:2;
    margin-top: 1%;
}
.fixed{
    width:100%; 
    height:9%;
    margin-left: 0%;
    position: fixed;
    margin-top: 0%;
    background-color:#91B40D;
    opacity: 0.8;
    transition:0.3s;
}
.fixed:hover{
    transition:0.3s;
    opacity:1;
}
.remove{
    height: 0;
    width: 0;
    display: inline;
}
.div_navbar_loqo{
    display: inline-block;
    width: 15%;
    height: 100%;
    margin-left: 2%;
    margin-right:5%;
}
.nav_button_res{display: none;}
.bt_input{
    width: 100%;
    height: 100%;
    color: white;
}
.fa-window-close{display: none;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    display: inline-block;
    padding-left: 0%;
  }
ul li{
    display: inline-block;
    font-size: 1em;
    padding: 15px;
    margin-right:5px;
    color: white;
    cursor: pointer;
}
ul li:hover{
    background-color: #91B40D;
    border-radius: 10%;
}
.search_div{
    width: 3%;
    height: 50%;
    display: inline-block;
    color: white;
}
.fa1{
    width: 15%;
    height: 50%;
    display: none;
}
.inpursearch{
    outline: none;
    width: 80%;
}
.fa-times{
    margin-left: 5%;
    color: white;
}
.text_area_Slide{
    width: 30%;
    height: 60%;
    display: inline-block;
    margin-left:5%;
    margin-top:10%;
}
.box_h3{
    display: inline-block;
    margin-top: 5%;
    color: white;
    margin-left: 2%;
}
.box1 , .box2 , .box3 {
    height:30vh;
    background-color: #1A5221;
    margin-bottom:3%;
    margin-right: 1%;
}
.box2{background-color:#91B40D;}
.box3{background-color: #FFBF00;}
.slick-slider{
    width: 90%;
    margin-left: 7%;
    margin-top: 40vh;
    z-index:0;
}
.img_div , .img_div2 , .img_div3{
    width: 60%;
    height: 100%;
    float: right;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-image: url('../image/vippngcomtropicalbackgroundpng1555633.svg');
}
.img_div2{background-image: url('../image/pomidor.svg');}
.img_div3{
    background-size: cover;
    background-image: url('../image/flour-clip-art-21.svg');
}
.photo_aside{
    height: 115vh;
    width: 37%;
    float: left;
    margin-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../image/markus-spiske-k2BDz7QXuJM-unsplash.jpg');
}
.info_div{
    height: 100vh;
    width: 63%;
    float: right;
    margin-top: 15%;
    background-color: whitesmoke;
}
.info_h1{
    text-align: center;
    margin-top: 3%;
}
.loqo_info , .loqo_info2{
    width: 60%;
    height: 5%;
    margin-left: 25%;
}
.sarmasiq{
    width: 40%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    background-image: url('../image/Контур\ 37.svg');
}
.tree_loqo{
    width: 10%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-image: url('../image/Сгруппировать\ 6.svg');
}
.text_info{
    width: 80%;
    height: 60%;
    margin-left:10%;
    display: inline-block;
    text-align: center;
}
.loqo_info2{
    width: 70%;
    height: 5%;
    margin-left:15%;
}
.icons_place{
    width: 60%;
    height: 20%;
    margin-left: 17%;
    display: flex;
    flex-wrap: wrap;
}
.icon_box1 , .icon_box2 , .icon_box3 , .icon_box4{
    width: 25%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    background-image: url('../image/Контур\ 24.svg');
}
.icon_box2{background-image: url('../image/Контур\ 34.svg');}
.icon_box3{background-image: url('../image/Контур\ 29.svg');}
.icon_box4{background-image: url('../image/Сгруппировать\ 4.svg');}
.icon_box1_1 , .icon_box2_2 , .icon_box3_3 , .icon_box4_4{
    width: 25%;
    height: 50%;
    text-align: center;
}
.text_mid{
    height: 6vh;
    width: 100%;
    margin-top: 5%;
    display: inline-block;
}
.loqo_info3{
    width: 30%;
    height: 10vh;
    margin-left: 35%;
}
.card_place{
    height: 100vh;
    width: 100%;
    margin-top: 2%;
    display: flex;
}
.card1 , .card2 , .card3{
    width: 25%;
    height: 100%;
    margin-left: 10%;
}
.card2 , .card3{
    margin-left: 5%;
}
.tx_pl{
    width: 100%;
    height: 40%;
}
.num_icon1 , .num_icon2 , .num_icon3{
    width: 100%;
    height: 50%;
    align-items: center;
    font-size: 6em;
}
.left_h1{
    font-size: 1.3em;
    text-align: start;
    font-weight: 600;
}
.card_img , .card_img2 , .card_img3{
    width: 100%;
    height:60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../image/karina-vorozheeva-brQS8ihqRq4-unsplash.jpg');
}
.card_img2{background-image: url("../image/close-up-woman-harvesting-garden.jpg");}
.card_img3{background-image: url("../image/markus-winkler-HeqXGxnsnX4-unsplash.jpg");}
.info_text_h1{margin-top: 10%;}
.meyve_ul{
    width: 60%;
    height: 5vh;
    margin-left:30%;
}
.meyve_ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    display: inline-block;
    padding-left: 0%;
}
.meyve_ul ul li {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 1px;
    margin-right:30px;
    color: black;
}
.cards_place_vegetablse{
    width: 90%;
    height: 80vh;
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;
}
.card{
    width: 17%;
    margin-top: 5%;
    margin-left: 3%;
    height: 33vh;
}
.card-body{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 0%;
    height: 20%;
}
.cls_i{color:#91B40D;}
.card_place2{
    height: 50vh;
    width: 100%;
    margin-top: 2%;
    display: flex;
}
.bottom_card , .bottom_card2{
    width: 25%;
    height: 100%;
    margin-left: 10%;
    margin-top: 3%;
}
.bottom_card2{margin-left: 2%;}
.card_item2{ margin-top: 0%;}
.card-img, .card-img-bottom, .card-img-top {
    height: 60%;
    width: 100%;
}
.card_bt_img1 , .card_bt_img2 , .card_bt_img3{
    width: 100%;
    height:50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../image/markus-spiske-k2BDz7QXuJM-unsplash.png');
}
.card_bt_img2{background-color: #1A5221;}
.card_bt_img3{background-image: url("../image/markus-spiske-sFydXGrt5OA-unsplash.svg");}
footer{
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../image/yasilliq.svg');
}
.footer_main_div{
    width: 100%;
    height: 60vh;
    display: flex;
}
.loqo_place{
    width: 25%;
    height: 30%;
    margin-left: 15%;
    margin-top: 15%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-image:url('../image/Сгруппировать\ 418.svg');
}
.link_place_footer{
    width: 50%;
    height: 60%;
    margin-top:10%;
    margin-left: 5%;
}
.nav_name_link , .vagetables_name_link , .info_name_link{
    width: 30%;
    height: 100%;
    margin-right: 2%;
    display: inline-block;
}
.links_footer {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 0%;
}
.links_footer li {
    display: inline-block;
    font-size: 1.4em;
    padding: 1px;
    color: white;
}
.bti{
    height: 10vh;
    width: 90%;
    margin-left: 5%;
    padding-top: 20px;
    border-top: 1px solid silver;
    color: white;
}